/*Only use this file if you want to override bootstrap or create your own style*/
.headshot{
    height: 25em; 
}
.back-img{
    background-image: url("/assets/carnival.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40em;
}

.info{
    font-family: Courier New, Courier, monospace;
    color: red;
    
}